* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #1d2038;
}
a {
  color: #fff2e7;
  text-decoration: none;
}
.navLista {
  list-style: none;
  display: flex;
}
.navLista li {
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: 32px;
}
nav {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  flex-wrap: nowrap;
  flex-direction: row;
}

button {
  justify-content: end;
  background-color: #ff6738;
  padding: 10px;
  border-radius: 8px;
  color: #fff2e7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.div-conteudo-principal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projetoIntegrador-titulo{
  
}

footer {
  border-top: solid 1px #fff2e7;
  color: #fff2e7;
}
